@import "tailwindcss";

body,
html {
  width: 100%;
  height: 100%;
}

@theme {
  --color-main: #0d7ff2;
  --color-white: #f5f5f5;
  --color-black: #000000;
  --color-dark: #0f0f0f;
}

.gradient-bg {
  background: radial-gradient(circle at 50% 0%, #162a44 0%, #0a1118 100%);
}

.NavBG {
  /* From https://css.glass */
  background: rgba(32, 40, 61, 0.5);
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(7.8px);
  -webkit-backdrop-filter: blur(7.8px);
}
